body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	height: 100%;
	background: #f8f8f8;
	font-size: 10pt;
}

body.dark,
#submitBox.dark {
	color: #eee;
	background: #222;
}

a.dark:link {
	color: #0af;
}

a.dark:visited {
	color: #e000e0;
}

h1 {
	font-size: 3em;
	margin: 0;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

ul li {
	margin-left: 0;
	margin-bottom: 1em;
}

li ul {
	margin-top: .5em;
	padding-left: 2.5em;
	margin-bottom: 2em;
}

table {
	margin-left: 2em;
}

thead {
	font-weight: bold;
}

td {
	padding: 0 .5em;
	vertical-align: top;
}

blockquote {
	font-family: monospace;
}

input[type='checkbox'] {
	position: relative;
	top: .15em;
	margin-right: .5em;
}

noscript {
	position: absolute;
	top: 0;
	left: 140px;
	padding: 1em;
}

li.error {
	background: #ff9090;
	display: table;
	padding: .3em .5em;
	border-radius: .5em;
}

li.warn {
	background: #fd5;
	display: table;
	padding: .3em .5em;
	border-radius: .5em;
}

li.success {
	background: #90ff90;
	display: table;
	padding: .3em .5em;
	border-radius: .5em;
}

.version {
	color: #6394f8;
	margin-right: 1em;
}

.crc {
	color: #bc8923;
	margin-right: 1em;
}

.active {
	color: #0a0;
	margin-right: 1em;
}

.tagPrefix {
	color: #cd5555;
}

.dirty {
	color: #960;
}

.message {
	color: gray;
}

.mod {
	margin-right: 1em;
}

.tag {}
.note {}
.req {}
.inc {}

.submit {
	margin-right: 1em;
}

.hidden {
	display: none;
}

.button {
	cursor: pointer;
	text-decoration: underline;
}

p.last {
	text-align: center;
	margin-bottom: 0;
}

.t {
	color: green;
	margin-right: .5em;
}

.c {
	color: red;
	margin-right: .5em;
}

.t:after {
	content: '\2713';
}

.c:after {
	content: '\2717';
}

.dragHover {
	background: #ddd;
}

body.dark section.dragHover {
	background: #444;
}

#overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
}

#overlay.visible {
	opacity: 1;
	visibility: visible;
}

#output.visible,
section.visible {
	display: block;
}

nav.dark {
	background: #333;
}

aside.dark {
	background: #666;
}

#submitBox {
	padding: 10px;
	background: #fafafa;
	z-index: 2;
	position: fixed;
	top: 1em;
	width: 430px;
	left: 50%;
	margin-left: -220px;
	border-radius: .5em;
}

#submitBox > h2 {
	text-align: center;
	margin: 0;
}

#submitBox p {
	margin-left: 10px;
	margin-right: 10px;
}

#submitBox label {
	margin: 16px 10px;
	display: block;
}

#link {
	width: 400px;
}

#notes {
	height: 10em;
	width: 400px;
}

#plugin {
	display: table-cell;
	font-style: italic;
}

#pluginLabel {
	display: table-cell;
	padding-right: .5em;
}

#output {
	display: none;
	width: 400px;
	margin: 2em auto;
	text-align: center;
}

nav {
	display: block;
	background: #eee;
	width: 140px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

nav div.button {
	cursor: pointer;
	padding: .5em;
	text-decoration: none;
	transition: background .2s;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
}

nav div.button:hover {
	background: #ddd;
}

nav div.button.dark:hover {
	background: #777;
}

nav div.button.current {
	background: #ccc;
}

nav div.button.current.dark {
	background: darkgrey;
}

nav > footer {
	position: absolute;
	bottom: 0;
	background: inherit;
	width: 100%;
}

header {
	padding: .5em;
	padding-top: 0;
	margin-bottom: 1em;
	text-align: center;
}

#arrow {
	position: absolute;
	right: 0;
	margin-right: 1em;
}

#arrow:after {
	content: '+';
}

#arrow.rotated:after {
	content: '\2212';
}

aside {
	display: block;
	background: #e8e8e8;
	z-index: 1;
	overflow: hidden;
	position: fixed;
	left: 140px;
	bottom: -1px;
	height: 0;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

aside.visible {
	height: auto;
}

aside > label {
	display: inline-block;
	padding: .2em .5em;
	white-space: nowrap;
	cursor: pointer;
}

aside > footer {
	display: block;
	padding: .5em;
	padding-left: .8em;
	font-style: italic;
}

section {
	position: absolute;
	top: 0;
	left: 140px;
	display: none;
	padding: 1em;
}

section p:first-child {
	margin-top: 0;
}

#unrecPlugins span.mod {
	cursor: pointer;
	border-bottom: #888 dotted 1px;
}

#unrecPlugins span.mod:hover {
	border-bottom: #888 solid 1px;
}

#unrecPlugins span.mod.nosubmit {
	border-bottom: none;
	cursor: auto;
}

var {
	color: brown;
}

tr.success td {
	background: #90ff90;
}

tr.warn td {
	background: #fd5;
}

tr.error td {
	background: #ff9090;
}

#userRules tr.success td:nth-of-type(2) {
	color: green;
}

#userRules tr.warn td:nth-of-type(2) {
	color: red;
}

table {
	margin: 0;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0;
}

td {
	padding: .7em;
	line-height: 1.5;
}

th {
	text-align: left;
	padding: 1em;
	background: lightblue;
}

table tr:first-child th:first-child {
	border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
	border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.message {
	color: #808;
}

table ul {
	padding-left: 2.5em;
	margin: 0;
}

table li {
	margin: 0;
}

#summary li {
	border-radius: .5em;
	padding: .5em 1em;
	display: table;
	background: #ddd;
}

#summary li.error {
	background: #ff9090;
}

#summary li.warn {
	background: #fd5;
}

#summary li.success {
	background: #90ff90;
}

#summary table:first-of-type {
	display: table-cell;
	padding-right: 1em;
}

#summary table:last-of-type {
	display: table-cell;
	padding-right: 1em;
}

#summary li.dark {
	background: #333;
}

#summary li.error.dark,
.error.dark,
tr.error.dark td {
	background: #f00;
}

#summary li.warn.dark,
.warn.dark,
tr.warn.dark td {
	background: #f60;
}

#summary li.success.dark,
.success.dark,
tr.success.dark td {
	background: #090;
}

th.dark {
	background: #039;
}
